<div class="container mt-4">
  <ng-template #errors>
    <div class="text-danger">{{errorMessage}}</div>
  </ng-template>
  <h2 class="mb-3">List Of Products</h2>
  {{searchedFormProduct.value|json}}
  <form [formGroup]="searchedFormProduct" (ngSubmit)="handleSearchedFormProduct()">
    <div class="input-group">
      <label class="input-group-text">Keyword:</label>
      <input type="text" class="form-control" formControlName="keyword"/>
      <button class="btn btn-info">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
  <table class="table table-striped table-bordered" *ngIf="products; else errors">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price (FCFA)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
       <td>
        <i *ngIf="product.promotion==true" class="bi bi-heart-fill text-success"></i>
      </td>
      <td *ngIf="authService.hasRole('ADMIN')">
        <button (click)="handleSetPromotion(product)" [ngClass]="product.promotion==true?'btn-success':'btn-danger'" class="btn">
          <span *ngIf="product.promotion==true">Promo On</span>
          <span *ngIf="product.promotion==false">Promo Off</span>
        </button>
      </td>
      <td *ngIf="authService.hasRole('ADMIN')">
        <!-- Icône corbeille -->
        <button class="btn btn-danger" (click)="handleDeleteProduct(product)">
          <i class="bi bi-trash"></i>
        </button>
      </td>

      <td><!-- Icône crayon -->
        <button class="btn btn-info">
          <i class="bi bi-pencil"></i>
        </button>
      </td>
      <td><!-- Icône "ajouter" -->
        <button class="btn btn-outline-primary">
          <i class="bi bi-plus-circle"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <ul class="nav nav-pills">
    <li *ngFor="let item of [].constructor(this.totalPages); let i=index;">
      <!--a class="btn btn-outline-info ms-1 mt-1" href="">{{i}}</a-->
      <a (click)="gotoPage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'" class="btn ms-1 mt-1" >{{i}}</a>
    </li>
  </ul>
</div>

